<div class="container">
  <div class="row center">
    <div class="span6 well center">
      <ul class="thumbnails">
      {{#each contact}}
        <li class="span3 clearfix">
          <div class="thumbnail clearfix">
            <img src="http://placehold.it/320x200">
            <div class="caption" class="pull-left">
              <div class="btn btn-primary icon  pull-right">Edit</div>
              <h4>
                <div>{{firstName}}</div>
                <div>{{lastName}}</div>
                <div>{{phoneNumber}}</div>
              </h4>
            </div>
          </div>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>