<div class="span4 login">
  <div class="well">
    <legend>Sign in to WebApp</legend>
    <p class="text-error sign-up-error" hidden>Something Went Wrong. Please Try Again!</p>

    <p class="text-error username-error" hidden>Username Cannot Be Blank</p>
    <input class="span3" placeholder="Username" type="text" id="username">

    <p class="text-error password-error" hidden>Password Cannot Be Blank</p>
    <input class="span3" placeholder="Password" type="password" id="password">

    <p class="text-error email-error" hidden>Email Cannot Be Blank</p>
    <input class="span3" placeholder="Email" type="email" id="email">

    <input  type="button" data-name="submit" class="btn-info btn" value="Submit">
    <input  type="button" data-name="go-to-login" class="btn-info btn" value="Log In">

  </div>
</div>